<h1>{{ question.subject }}</h1> <!-- question.subject과 question.content의 question은 detail 함수에서 context로 넘겨받은 데이터 -->

<div>
    {{ question.content }}
</div>

<!-- 답변 조회 폼 -->
<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>    <!-- question.answer_set.count는 답변의 총 갯수를 의미 -->
<div>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>

<!-- 답변 저장(등록) 폼 -->
<form action="{% url 'pybo:answer_create' question.id %}" method="post"> <!-- '해결'pybo:answer_create 별칭은 안 만들어놨기때문에 urls에서 만들어줘야함 -->
{% csrf_token %} <!-- 보안을 위한 태그로 form태그 바로 밑에 써주면 됨 -->
<textarea name="content" id="content" rows="15"></textarea>
<input type="submit" value="답변등록">
</form>